.render {
  width: 600px;
  height: 300px;
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../public/logo.jpeg');
  /* background-color: red; */
  background-size: 80px;
  background-repeat: no-repeat;
}